.modal-header{
    margin: 0px 30px;
  }

  .modal-head{
    margin-top: 50px;
  }
  .modal-body{
    margin: 40px 30px;
    margin: 0;
  }

  .modal-footer{
    margin: 40px 30px;
    margin-top: 0;
  }

  .nickname{
    margin: 0;
    margin-top: 20px;
  }

  .info{
    margin-top: 20px;
  }

  .modal-notice{
    margin: 0 30px;
    margin-top: 20px;
    padding: 0 16px;
    display: flex;
    justify-content: flex-start;
  }

  .notice_title{
    margin-left: 20px;
  }

#ModalLabel{
    font-size: 23px;
    font-family: "NotoSansKR-Bold";
}

  .btn_out{
    background-color: #fe8e8d;
    border: none;
    border-radius: 30px;
    width: 105px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    margin-left: 10px;
  }

  .btn_out:hover{
    background-color: #f48382;
  }

  .btn_update{
    background-color: #ffdd67;
    border: none;
    border-radius: 30px;
    width: 105px;
    height: 40px;
    color: #fff;
    font-size: 16px;
  }

  .btn_update:hover{
    background-color: #f7d664;
  }

  .modal_diagnosis{
    background-color: #fe8e8d;
    border: none;
    border-radius: 30px;
    width: 105px;
    height: 40px;
    color: #fff;
    font-size: 16px;
    margin-left: 30px;
    text-decoration: none;
    color: white;
    position: relative;
    bottom: 7px;
  }

  .modal_diagnosis:hover{
    background-color: #f48382;
  }

  .modal_btns{
    padding-top: 30px;
  }

  .text_gray{
    color: #999999;
    opacity: 80%;
  }
  
  .modal-dialog {
	width: 700px;
}

.modal-content {
	border-radius: 45px;
}

.modal-backdrop {
	z-index: 0;
}