@charset "UTF-8";


.btn_area {
	text-align: center !important;
	padding: 30px 0;
}

.btn_area .button1 {
	height: 45px;
	line-height: 43px;
}

.button1 {
	display: inline-block;
	overflow: hidden;
	position: relative;
	min-width: 100px;
	height: 45px;
	line-height: 43px;
	box-sizing: border-box;
	padding: 0 15px;
	margin: 2px 0px;
	background: #fe8e8d;
	color: #fff !important;
	text-align: center;
	vertical-align: middle;
	transition: all 0.4s ease-out 0.1s;
}
.button:before {
	content: "";
	display: block;
	position: absolute;
	top: 0px;
	right: 0px;
	bottom: 0px;
	left: 0px;
	z-index: 1;
	width: 120%;
	height: 110%;
	color: #ffffff !important;
	background: #ff6e6d;
	transform: translateX(-120%) skew(-15deg);
	transition: transform 0.7s cubic-bezier(0, 0, 0.21, 0.87) 0s;
}

.button:hover:before, .button:focus:before {
	color: #ffffff !important;
	background: #ff6e6d;
	transform: translateX(-10%) skew(-15deg) perspective(500px);
}

.button:hover {
	color: #ffffff !important;
	background-color: #ff6e6d;
	box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
}
.insert_title {
	padding-top: 20px !important;
	