@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

html{
  height: 100%;
}


body{
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}


.signup_back{
  width: 100%;
  height: 100%;
  position: relative;
}

.bg_img {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
  background-image: url("../image/login_background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  min-width: 1400px;
  background-attachment: fixed;
}


.signup_box {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 64px;
  position: relative;
  top: 10%;
  width: 600px;
  height: 810px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 45px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  /* opacity : 20%; */
  color: #ffffff;
  animation: fadeInUp 1s;
  animation-duration: 1s;
    animation-fill-mode: both;
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}


.lg_wrap input {
  width: 96%;
  height: 45px;
  border-radius: 30px;
  background-color: transparent;
  padding-left: 15px;
  border: 1px solid rgba(0,0,0,0.21);
  border-radius: 30px;
  border-bottom-color: rgba(0,0,0,0.34);
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 -1px rgba(0,0,0,0.13), 
              0 3px 0 -1px rgba(0,0,0,0.08), 
              0 3px 13px -1px rgba(0,0,0,0.21);
  font-size: 15px;
}

input {
  color: #ffffff;
}

input:focus{
  outline: none;
}

.id_wrap input::placeholder {
  font-size: 14px;
  color: #cbcbcb;
}

.pw_wrap input::placeholder {
  font-size: 14px;
  color: #cbcbcb;
}

.phone_wrap input::placeholder {
  font-size: 14px;
  color: #cbcbcb;
}

h1 {
  padding-bottom: 40px;
  font-size: 30px;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.id_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.id_wrap label {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.id_subwrap{
  display: flex;
}

.login_check{
  margin: 0 20px;
  background-color: transparent;
  color: white; 
  width: 140px;
  height: 45px;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0.21);
  border-radius: 30px;
  border-bottom-color: rgba(0,0,0,0.34);
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 -1px rgba(0,0,0,0.13), 
              0 3px 0 -1px rgba(0,0,0,0.08), 
              0 3px 13px -1px rgba(0,0,0,0.21);
  
}

.login_check:active {
  top: 1px;
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
  box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 1px rgba(0,0,0,0.05) inset;
  position: relative;
}

.pw_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.pw_wrap label {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.phone_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 16px;
  padding-bottom: 20px;
}
.phone_wrap label {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}


.separator {
  margin: 0px 8px;
}

.signup_btn {
  display: inline-block;
  width: 472px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #fe8e8d;
  border-radius: 45px;
  cursor: pointer;
  text-decoration: none;
  transition: 0.3s;
}
.signup_btn:hover {
  background-color: #ff6e6d;
}

.signup_btn button {
	border: 0 !important;
	background-color:transparent;
	outline: 0;
	
}
