@keyframes fadeInUp {
  from {
      transform: translate3d(0,40px,0)
  }

  to {
      transform: translate3d(0,0,0);
      opacity: 1
  }
}

html{
  height: 100%;
}


body{
  margin: 0 auto;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}



.bg_img {
  width: 100%;
  height: 100vh;
  margin: 0 auto;
  background-size: cover;
  background-image: url("../image/login_background.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
}


.signup_box {
  margin: 0 auto;
  padding: 0 64px;
  padding-top: 40px;
  width: 630px;
  height: 865px;
  background-color: rgba(255, 255, 255, 0.05);
  border-radius: 45px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
  /* opacity : 20%; */
  color: #ffffff;
  animation: fadeInUp 1s;
  animation-duration: 1s;
    animation-fill-mode: both;
    position: relative;
    top:10%;
    
}

.animatedFadeInUp {
  opacity: 0
}

.fadeInUp {
  opacity: 0;
  animation-name: fadeInUp;
  -webkit-animation-name: fadeInUp;
}



.lg_wrap input {
  width: 95%;
  height: 45px;
  border-radius: 30px;
  background-color: transparent;
  padding-left: 15px;
  border: 1px solid rgba(0,0,0,0.21);
  border-radius: 30px;
  border-bottom-color: rgba(0,0,0,0.34);
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 -1px rgba(0,0,0,0.13), 
              0 3px 0 -1px rgba(0,0,0,0.08), 
              0 3px 13px -1px rgba(0,0,0,0.21);
  font-size: 15px;
}

input {
  color: #ffffff;
}

input:focus{
  outline: none;
}

.id_wrap input::placeholder {
  font-size: 14px;
  color: #cbcbcb;
}

.pw_wrap input::placeholder {
  font-size: 14px;
  color: #cbcbcb;
}

.phone_wrap input::placeholder {
  font-size: 14px;
  color: #cbcbcb;
}

h2 {
  padding-bottom: 20px;
  font-size: 30px;
  letter-spacing: -0.5px;
  font-weight: 700;
}

.id_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}

.id_wrap label {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.id_subwrap{
  display: flex;
}

.login_check{
  margin: 0 20px;
  background-color: transparent;
  color: white; 
  cursor: pointer;
  width: 140px;
  height: 45px;
  font-size: 14px;
  border: 1px solid rgba(0,0,0,0.21);
  border-radius: 30px;
  border-bottom-color: rgba(0,0,0,0.34);
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 -1px rgba(0,0,0,0.13), 
              0 3px 0 -1px rgba(0,0,0,0.08), 
              0 3px 13px -1px rgba(0,0,0,0.21);
  
}

.login_check:active {
  top: 1px;
  border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
  box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 1px rgba(0,0,0,0.05) inset;
  position: relative;
}

.pw_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.pw_wrap label {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.phone_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.phone_wrap label {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}

.upload_wrap {
  display: flex;
  flex-direction: column;
  margin-bottom: 25px;
}
.upload_wrap label {
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
}


.separator {
  margin: 0px 8px;
}

.signup_btn {
  display: inline-block;
  width: 472px;
  height: 54px;
  line-height: 54px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
  background-color: #fe8e8d;
  border-radius: 45px;
  cursor: pointer;
  text-decoration: none;
  margin-top: 20px;
  transition: 0.3s;
}
.signup_btn:hover {
  background-color: #ff6e6d;
}

.filebox input[type="file"] {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip:rect(0,0,0,0);
  border: 0;
}

.filebox label {
  margin: 0 20px;
  padding: 11px 23px;
  font-size: 14px;
  color: white;
  background-color: transparent;
  cursor: pointer;
  border: 1px solid rgba(0,0,0,0.21);
  border-radius: 30px;
  border-bottom-color: rgba(0,0,0,0.34);
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 -1px rgba(0,0,0,0.13), 
              0 3px 0 -1px rgba(0,0,0,0.08), 
              0 3px 13px -1px rgba(0,0,0,0.21);
}

.filebox label:active{
    top: 1px;
    border-color: rgba(0,0,0,0.34) rgba(0,0,0,0.21) rgba(0,0,0,0.21);
    box-shadow: 0 1px 0 rgba(0,0,0,0.05),0 1px rgba(0,0,0,0.05) inset;
    position: relative;
}

/* named upload */
.filebox .upload_name {
  color: #cbcbcb;
  opacity: 90%;
  padding: 10px 0;
  padding-left: 20px;
  padding-right: 135px;
  background-color: transparent;
  border: 1px solid rgba(0,0,0,0.21);
  border-radius: 30px;
  border-bottom-color: rgba(0,0,0,0.34);
  text-shadow:0 1px 0 rgba(0,0,0,0.15);
  box-shadow: 0 1px 0 rgba(255,255,255,0.34) inset, 
              0 2px 0 -1px rgba(0,0,0,0.13), 
              0 3px 0 -1px rgba(0,0,0,0.08), 
              0 3px 13px -1px rgba(0,0,0,0.21);
  font-size: 15px;
}

#file_label{
  margin-bottom: 15px;
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  display: inline-block;
}

#file_chk{
  font-size: 14px;
  margin-left: 20px;
  margin-top: 5px;
  opacity: 90%;
}
