@font-face {
  font-family: "NotoSansKR"; /* 사용하고 싶은 font-family명을 지정 */
  src: url("../../resources/font/NotoSansKR/NotoSansKR-Regular.otf") format("opentype"); /* 폰트파일 불러오기 */
}
@font-face {
  font-family: "NotoSansKR-Bold"; /* 사용하고 싶은 font-family명을 지정 */
  src: url("../../resources/font/NotoSansKR/NotoSansKR-Bold.otf") format("opentype"); /* 폰트파일 불러오기 */
}

@font-face {
  font-family: "NotoSansKR-Black"; /* 사용하고 싶은 font-family명을 지정 */
  src: url("../../resources/font/NotoSansKR/NotoSansKR-Black.otf") format("opentype"); /* 폰트파일 불러오기 */
}
@font-face {
  font-family: "NotoSerif"; /* 사용하고 싶은 font-family명을 지정 */
  src: url("../../resources/font/NotoSerifKR/NotoSerifKR-Regular.otf") format("opentype"); /* 폰트파일 불러오기 */
}
@font-face {
  font-family: "NotoSerif-Bold"; /* 사용하고 싶은 font-family명을 지정 */
  src: url("../../resources/font/NotoSerifKR/NotoSerifKR-Bold.otf") format("opentype"); /* 폰트파일 불러오기 */
}
@font-face {
  font-family: "NotoSerif-Black"; /* 사용하고 싶은 font-family명을 지정 */
  src: url("../../resources/font/NotoSerifKR/NotoSerifKR-Black.otf") format("opentype"); /* 폰트파일 불러오기 */
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "NotoSansKR", sans-serif;
}

a {
  text-decoration: none;
}
ul {
  list-style: none;
}
