header {
  padding: 0 50px;
  width: 100%;
  min-width: 1400px;
  height: 100px;
  display: flex;
  font-size: 19px;
  .logo_wrap {
    height: 100%;
    width: 220px;
    a {
      height: 100%;
      width: 140px;
      display: flex;
      align-items: center;
      img {
        width: 100%;
        height: 90%;
        object-fit: contain;
      }
    }
  }
  .menu_wrap {
    display: flex;
    align-items: center;
    margin: 0 auto;
    .menu_list {
      display: flex;
      width: 420px;

      li {
        width: calc((420px - 90px) / 3);
        margin-right: 45px;
        a {
          display: block;
          width: 100%;
          color: #fff;
          text-align: center;
          font-family: "NotoSansKR-Bold", sans-serif;
        }
      }
      li:last-child {
        margin-right: 0px;
      }
    }
  }
  .login_wrap {
    width: 220px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: right;
    a {
      color: #fff;
      border: 1px solid #ffff;
      font-size: 15px;
      border-radius: 50px;
      padding: 10px 35px;
    }
  }
}
