.layout {
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
}
.layout .banner {
  width: 100%;
  min-width: 1400px;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)), url("/image/sub_img_1.jpg") no-repeat;
  background-size: cover;
  background-position: 40% 30%;
  padding-top: 140px;
}
.layout .banner .inner_banner {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.layout .banner .inner_banner p {
  text-align: center;
  color: white;
  font-family: "NotoSerif", "serif";
  font-size: 45px;
}
.layout .inner_layout {
  width: 1400px;
  margin: 0 auto;
}
.layout .inner_layout .confirm_btn {
  border: 2px solid #73685d;
  border-radius: 15px;
  padding: 5px 10px;
}

header {
  position: absolute;
  top: 0;
}