footer {
  width: 100%;
  height: 70px;
  background: #afafaf;
}
footer .footer_wrap {
  margin: 0 auto;
  width: 1400px;
  height: 100%;
  display: flex;
}
footer .footer_logo_wrap {
  width: 120px;
  height: 100%;
}
footer .footer_logo_wrap img {
  width: 100%;
  height: 50%;
  object-fit: contain;
}