@font-face {
    font-family: "NotoSansKR-Bold"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("../font/NotoSansKR/NotoSansKR-Bold.otf") format("opentype"); /* 폰트파일 불러오기 */
  }
  @font-face {
    font-family: "NotoSerifKR-Regular"; /* 사용하고 싶은 font-family명을 지정 */
    src: url("../font/NotoSerifKR/NotoSerifKR-Regular.otf") format("opentype"); /* 폰트파일 불러오기 */
  }
.layout {
    width: 100%;
    height: 100%;
  }
  .layout .banner {
    width: 100%;
    min-width: 1400px;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("../image/sub_img_2.jpg") no-repeat;
    background-size: cover;
    background-position: 40% 30%;
  }
  
  .inner_banner {
    padding-top: 130px;
    text-align: center;
    font-family: "NotoSerif";
    color: #ffffff;
    font-size: 32px;
  }
  
  .inner_banner p{
    font-family: "NotoSerif";
    font-size: 32px;
  }
  
  h2 {
    font-size: 54px;
    font-weight: 300;
    font-family: "NotoSerif";
  }

  .tle{
padding-top: 130px;
  width: 100%;
  height: 100%;
}
  .tle .insert{
    text-align: center;
    font-size: 30px;
  }
  .title h2 {
    font-size: 43px;
    padding-bottom: 80px;
    padding: 130px 0;
    text-align: center;
  }
  
  .insert {
    width: 1400px;
    margin: 0 auto;
  }
  .insert span{
    font-size: 30px;
    font-family: "NotoSansKR-Bold";
    color:#b0b0b0;
   
  }
  
  .insert input {
    width: 50%;
    height: 50px;
    margin: 0 auto;
    font-size: 18px !important;
    font-weight: 400 !important;
    text-align: left;
    padding-left: 20px;
    margin-bottom: 50px;
  }
  
  .insert input:focus {
    outline: none;
  }
  
  .btn_area {
    text-align: center;
    padding: 30px 0;
  }
  
  .btn_area .button {
    height: 45px;
    line-height: 43px;
  }
  
  .button {
    display: inline-block;
    overflow: hidden;
    position: relative;
    min-width: 100px;
    height: 45px;
    line-height: 43px;
    box-sizing: border-box;
    padding: 0 15px;
    margin: 2px 0px;
    background: #fe8e8d;
    color: #fff !important;
    text-align: center;
    vertical-align: middle;
    transition: all 0.4s ease-out 0.1s;
  }
 
  
  
  .button:before {
    content: "";
    display: block;
    position: absolute;
    top: 0px;
    right: 0px;
    bottom: 0px;
    left: 0px;
    z-index: 1;
    width: 120%;
    height: 110%;
    color: #ffffff !important;
    background: #ff6e6d;
    transform: translateX(-120%) skew(-15deg);
    transition: transform 0.7s cubic-bezier(0, 0, 0.21, 0.87) 0s;
  }
  .button:hover:before,
  .button:focus:before {
    color: #ffffff !important;
    background: #ff6e6d;
    transform: translateX(-10%) skew(-15deg) perspective(500px);
  }
  .button:hover {
    color: #ffffff !important;
    background-color: #ff6e6d;
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.15);
  }
  
  .button span {
    position: relative;
    z-index: 2;
  }
  
  .space {
    margin: 0 10px;
  }
  