.layout {
  width: 100%;
  height: 100%;
}
.layout .banner {
  width: 100%;
  min-width: 1400px;
  height: 400px;
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.4)),
    url("../image/sub_img_1.jpg") no-repeat;
  background-size: cover;
  background-position: 40% 30%;
}

.inner_banner {
  padding-top: 130px;
  text-align: center;
  font-family: "NotoSerif";
  color: #ffffff;
  font-size: 32px;
}

h2 {
  font-size: 54px;
  font-weight: 300;
  font-family: "NotoSerif";
}
p.in_2 {
  font-family: "NotoSerif";
}

.container {
  margin: 0 auto;
  padding: 130px 0;
  overflow: hidden;
  width: 1400px;
}

.title {
  text-align: center;
  font-size: 43px;
  font-weight: 500;
  font-family: "NotoSerifKR";
}

.title h2 {
  font-size: 43px;
  padding-bottom: 80px;
}

table {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  display: table;
  border-collapse: separate;
  box-sizing: border-box;
  text-indent: initial;
  border-spacing: 2px;
  border-color: gray;
}
table,
th,
td {
  border: none;
}

.bbsList th,
td,
a {
  font-family: "NotoSansKR";
}

.bbsList th,
.bbsList td {
  padding: 18px 10px;
  border-bottom: 1px solid #eaecf1;
  text-align: center;
}
.bbsList thead th {
  padding: 20px 10px;
  border-top: 1px dotted #8c92a3;
  border-bottom: 1px solid #d2d7dc;
  font-weight: 400;
  color: #222;
  font-size: 17px;
}
.bbsList thead tr:first-child th {
  border-top: 2px solid #fe8e8d;
}
.bbsList td {
  color: #666;
  word-break: break-all;
}
.bbsList tr.active td {
  background: #f0f6f8;
  color: #333 !important;
}
.bbsList td[data-table="subject"] a {
  display: inline-block;
}
.bbsList td[data-table="subject"] {
  text-align: left;
}
.bbsList td[data-table="subject"] i {
  display: inline-block;
  margin-left: 10px;
  font-size: 13px;
  color: #ce6c0c;
}
.bbsList td[data-table="subject"] .new {
  display: inline-block;
  margin-right: 5px;
  width: 25px;
  height: 11px;
  background: url(../images/board/icon_new.png) no-repeat 0 0;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.bbsList td[data-table="number"] .notice {
  display: block;
  position: relative;
  width: 25px;
  height: 25px;
  margin: 0 auto;
  background: #365ec3;
  border-radius: 50%;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
.bbsList td[data-table="number"] .notice:before {
  content: "공";
  display: block;
  color: #fff;
  text-indent: 0;
  line-height: 23px;
}
.bbsList .none {
  text-align: center;
}
.bbsList .reply {
  display: inline-block;
  position: relative;
  padding: 0 7px;
  margin-right: 5px;
  background: #fff;
  border-radius: 3px;
  border: 1px solid #365ec3;
  font-size: 13px;
  color: #365ec3;
}
.bbsList .reply:before,
.bbsList .reply:after {
  content: "";
  display: none;
  position: absolute;
  left: -10px;
  background: #41464e;
}
.bbsList .reply:before {
  top: 0px;
  width: 1px;
  height: 10px;
}
.bbsList .reply:after {
  top: 10px;
  width: 10px;
  height: 1px;
}
.bbsList + .pagination {
  border-top-width: 0px;
}
html[lang="en"] .bbsList td[data-table="number"] .notice:before,
html[lang="ja"] .bbsList td[data-table="number"] .notice:before,
html[lang="zh"] .bbsList td[data-table="number"] .notice:before,
html[lang="ru"] .bbsList td[data-table="number"] .notice:before {
  content: "N";
}

ul.bbsList {
  border-top: 2px solid #fe8e8d;
}
ul.bbsList li {
  position: relative;
  padding: 39px 15px;
  border-bottom: 1px solid #eaecf1;
}
ul.bbsList li > * {
  display: block;
}
ul.bbsList li .date {
  position: absolute;
  left: 15px;
  top: 50%;
  width: 65px;
  font-size: 14px;
  color: #999;
  text-align: center;
  font-weight: 500;
  transform: translateY(-50%);
  font-family: Ubuntu, Sans-serif;
  transition: all 0.4s ease-out 0s;
}
ul.bbsList li .date i {
  display: block;
  font-size: 2.7rem;
  color: #959595;
  line-height: 1em;
  transition: all 0.4s ease-out 0s;
  font-weight: 700;
  margin-bottom: 3px;
}
ul.bbsList li .date:before {
  content: "";
  display: block;
  position: absolute;
  right: -15px;
  top: 50%;
  width: 1px;
  height: 30px;
  margin-top: -15px;
  background: #e5e5e5;
}
ul.bbsList li .subject {
  padding-left: 125px;
  padding-right: 100px;
  font-size: 18px;
  letter-spacing: -0.01rem;
  font-weight: 400;
}
ul.bbsList li .subject:hover,
ul.bbsList li .subject:focus {
  color: #f15b6d;
}
ul.bbsList li .more {
  overflow: hidden;
  position: absolute;
  right: 15px;
  top: 50%;
  width: 36px;
  height: 36px;
  margin-top: -16px;
  background: #fff; /* border:1px solid #ddd; */
  transition: all 0.3s ease 0s;
}
ul.bbsList li .more em {
  display: none;
  padding-left: 10px;
  color: #f15b6d;
  line-height: 36px;
  font-size: 13px;
}
ul.bbsList li .more:before {
  content: "";
  display: block;
  position: absolute;
  left: 50%;
  top: 50%;
  width: 14px;
  height: 14px;
  margin: -7px 0 0 -7px;
  background: url(../images/board/icon_more.png) no-repeat 0 0;
}
ul.bbsList li .more.active,
ul.bbsList li .more:hover,
ul.bbsList li .more:focus {
  border-color: #f15b6d;
}

ul.bbsList li .notice {
  display: inline-block;
  width: 25px;
  height: 25px;
  margin-right: 10px;
  margin-top: -5px;
  background: #365ec3;
  border-radius: 50%;
  text-align: center;
  vertical-align: middle;
  text-indent: 100%;
  overflow: hidden;
  white-space: nowrap;
}
ul.bbsList li .notice:before {
  content: "공";
  display: block;
  color: #fff;
  text-indent: 0;
  line-height: 23px;
}
ul.bbsList li:hover .date,
ul.bbsList li:hover .date i {
  color: #174e86;
}

a {
  color: #000000;
  text-decoration: none;
}

ul.pagenation {
  padding-top: 50px;
}

.ct_2 {
  width: 350px;
  height: 68px;
  border-radius: 45px;
  border: 1px solid #b0b0b0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  margin-bottom: 39px;
}

.ct_2 a {
  font-family: "NotoSerif";
}

.ct_2 a.login-link {
  color: #b0b0b0;
}

span {
  font-family: "NotoSerif";
  color: #b0b0b0;
}
.separator {
  margin: 0px 50px;
}
