.layout {
  width: 100%;
  height: 100%;
  padding-bottom: 25px;
  .banner {
    width: 100%;
    min-width: 1400px;
    height: 400px;
    background: linear-gradient(rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
      url("/image/sub_img_1.jpg") no-repeat;
    background-size: cover;
    background-position: 40% 30%;
    padding-top: 140px;
    .inner_banner {
      width: 100%;
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
      p {
        text-align: center;
        color: #ffff;
        font-family: "NotoSerif", "serif";
        font-size: 45px;
      }
    }
  }
  .inner_layout {
    width: 1400px;
    margin: 0 auto;
    position: relative;
    .report_title {
      cursor: pointer;
    }
    .modal {
      border-radius: 15px;
      box-shadow: 0px 0px 20px #e6e6e6;
      position: absolute;
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      width: 500px;
      height: 300px;
      background: #ffff;
      .modal_top {
        border-radius: 15px 15px 0 0;
        width: 100%;
        height: 50px;
        background: #73685d;
        display: flex;
        align-items: center;
        color: #ffff;
        div:first-child {
          width: 50px;
          height: 100%;
        }
        .modal_top_title_wrap {
          width: calc(100% - 100px);
          text-align: center;
        }
        .modal_top_btn_wrap {
          width: 50px;
          height: 100%;
          display: flex;
          align-items: center;
          justify-content: center;
          .close_btn {
            width: 100%;
            height: 50%;
            background: url(/image/icon/close_white.png) no-repeat center;
            background-size: contain;
            border: none;
          }
        }
      }
      .modal_inner_wrap {
        width: 100%;
        height: calc(100% - 120px);
        padding: 20px;
        div {
          display: flex;
          margin-bottom: 10px;
          p:first-child {
            margin-right: 10px;
          }
        }
      }
      .btn_wrap {
        width: 100%;
        height: 70px;
        padding-left: 20px;
        padding-bottom: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        button {
          width: 40px;
          height: 30px;
          margin-right: 10px;
          border-radius: 5px;
        }
        .report_btn {
          background: #73685d;
          color: #ffff;
          border: none;
        }
        .cancel_btn {
          background: #ffff;
          color: #73685d;
          border: 2px solid #73685d;
        }
      }
    }
  }
}
header {
  position: absolute;
  top: 0;
}
button {
  cursor: pointer;
}
.pagenation_wrap {
  .pagenation {
    .active2 {
      background: #73685d !important;
      border: 2px solid #73685d !important;
    }
  }
}
