.pagenation_wrap {
  width: 100%;
  min-width: 1400px;
  height: 50px;
  margin: 15px 0;
  .pagenation {
    display: flex;
    width: 100%;
    justify-content: center;
    .page {
      a {
        display: block;
        width: 28px;
        height: 28px;
        text-align: center;
        border: 1px solid #e6e6e6;
        border-radius: 5px;
        margin: 0 2px;
        font-size: 13px;
        line-height: 25px;
        color: #999999;
      }
      a.active {
        color: #fe8e8d;
        border: 2px solid #fe8e8d;
      }
      a.active2 {
        background: #fe8e8d;
        color: #ffff;
        border: 2px solid #fe8e8d;
      }
    }
  }
}
